<%- include('./partials/header') %>

  <h1>Level Up</h1>
  <div class="navbar-fixed">
    <nav>
    <% if (user) { %>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
    <% } %>
    </nav>
  </div>

<%- include('./partials/footer') %>