<%- include('../partials/header') %>

<navbar>
  <ul class="nav-list">
    <li class="nav-item"><a href="/quests">Quest Log</a></li>
    <li class="nav-item"><a href="/logout">Log Out</a></li>
  </ul>
</navbar><br>
<div class="new-quest">
  <h1 class="new-quest-title">New Quest</h1>
  <form action="/quests" method="POST">
      <input type="text" name="qName" placeholder="Quest Name..." id="quest-name">
      <select name="difficulty" id="difficulty">
          <option value="Trivial">Trivial</option>
          <option value="Easy">Easy</option>
          <option value="Moderate">Moderate</option>
          <option value="Arduous">Arduous</option>
          <option value="Challenging">Challenging</option>
      </select><br><br>
      <p id="start-date">Start Date:</p>
      <input type="date" name="dueBy" id="quest-start" required><br><br><br>
      <textarea type="text" rows="5" placeholder="Quest Notes" id="new-quest-notes" name="notes"></textarea><br><br>
      <input type="submit" id="create-quest" value="Create Quest">
  </form>
</div>

<%- include('../partials/footer') %>