<%- include('../partials/header') %>

    <h1>New Quest</h1>
    <nav>
        <a href="/quests">All Quests</a>
        <a href="/logout">Log Out</a>
    </nav><br>
    <form action="/quests" method="POST">
        <input type="text" name="qName" placeholder="Quest Name"><br><br>
        <input type="text" name="qItem" placeholder="Quest Item">
        <select name="difficulty">
            <option value="Trivial">Trivial</option>
            <option value="Easy">Easy</option>
            <option value="Moderate">Moderate</option>
            <option value="Arduous">Arduous</option>
            <option value="Challenging">Challenging</option>
        </select><br><br>
        <button type="button">Add Quest Item</button>
        <input type="submit" value="Create Quest">
    </form>

<%- include('../partials/footer') %>