<%- include('../partials/header') %>

    <h1>New Quest</h1>
    <nav>
        <a href="/quests">All Quests</a>
        <a href="/logout">Log Out</a>
    </nav>
    <form action="/quests" method="POST">
    <input type="text" name="quest" placeholder="Quest Name"><br>
    <p>Difficulty Level</p>
    <select name="difficulty">
        <option value="1">Trivial</option>
        <option value="2">Easy</option>
        <option value="3">Moderate</option>
        <option value="4">Arduous</option>
        <option value="5">Challenging</option>
    </select>
    </form>

<%- include('../partials/footer') %>