<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level Up</title>
</head>
<body>
    <h1>New Quest</h1>
    <nav>
        <a href="/quests">All Quests</a>
        <a href="/logout">Log Out</a>
    </nav>
    <form action="/flights" method="POST">
    <input type="text" name="quest" value="Quest Name"><br>
    <input type="checkbox" class="q-challenge" id="physical">Physical Challenge<br>
    <input type="checkbox" class="q-challenge" id="intel">Intellectual Challenge<br>
    <input type="checkbox" class="q-challenge" id="social">Social Challenge<br>
    </form>
</body>
</html>