@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');

@media(min-width: 480px){
  .flex-container{
    display: flex;
  }
  .flex-title{
    font-size: 20px;
  }
  .flex-item{
    font-size: 16px;
  }
}

body {
  background-image: url('https://images2.alphacoders.com/745/thumb-1920-745754.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Judson', serif;
  background-attachment: fixed;
}

.nav-list {
  background-color: white;
  display: flex;
  align-items: center;
  opacity: 50%;
}

.nav-item {
  list-style: none;
  margin: 20px 20px;
  text-decoration: none;
  font-size: 30px;
}

.nav-item a{
  text-decoration: none;
}

.nav-item a:hover, .flex-title a:hover {
  color: red;
}

.nav-item:last-child {
  margin-right: 2rem;
  margin-left: auto;
}

a:visited, .flex-title a {
  color: blue;
  text-decoration: none;
}

h1 {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-title {
  background-color: white;
  padding: 10px 20px;
  font-size: 28px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flex-item {
  background-color: silver;
  margin: 1%;
  flex: 1;
  opacity: 90%;
  min-width: 300px;
  border-radius: 10px;
}

.q-notes {
  font-size: 24px;
  padding: 0 3%;
}

.complete-quest {
  padding: 3%;
  font-family: 'Judson', serif;
  font-size: 16px;
  margin: 3%;
  background-color: goldenrod;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  right: inherit;
}

/* ----- Show Quest Page ----- */

.flex-container-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-item-show {
  width: 50%;
  flex: 1;
  margin: 10px
}

#show-quest {
  background-color: #0768B2;
  opacity: 75%;
  border-radius: 10px;
  color: white;
}

#show-quest-title {
  background-color: black;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  bottom: 21px;
}

#comments {
  background-color: silver;
  opacity: 90%;
  padding: 10px;
  border-radius: 10px;
}

textarea {
  width: 95%;
  border-radius: 5px;
  resize: vertical;
  font-family: 'Judson', serif;
  font-size: 20px;
}

#show-quest-content {
  padding: 10px;
  position: relative;
  bottom: 50px;
}

.quest-show-notes {
  font-size: 30px;
  text-align: center;
}

#delete-comment {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

button:hover {
  color: red;
}

.add-comment {
  padding: 2%;
  font-family: 'Judson', serif;
  font-size: 14px;
  margin: 3%;
  background-color: goldenrod;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  right: inherit;
}

/* ----- LOGIN PAGE ----- */

