@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
  background-image: url('https://images2.alphacoders.com/745/thumb-1920-745754.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

.nav-list {
  background-color: white;
  display: flex;
  align-items: center;
  opacity: 50%;
}

.nav-item {
  list-style: none;
  margin: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

.nav-item a{
  text-decoration: none;
}

.nav-item a:hover {
  color: red;
}

.nav-item:last-child {
  margin-right: 2rem;
  margin-left: auto;
}

a:visited {
  color: black;
  text-decoration: none;
}